/* src/components/CartIcon.css */
.cart-icon {
  display: flex;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  color: black;
  position: relative;
  padding: 0px opx;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background: red;
  color: white;
  border-radius: 30%;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
}

.cart-icon .cart-count {
  top: -3px;
  right: -8px;
  padding: 0.1rem 0.3rem;
  font-size: 0.7rem;
}