/* src/components/DropdownMenu.css */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: green;
  color: white;
  padding: 7px 10px;
  border: none;
  cursor: pointer;
  font-family: Arial, sans-serif; /* Font style */
  font-size: 16px; /* Font size */
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0;
  margin: 0;
  border-radius: 4px; /* Rounded corners for the dropdown */
  width: 220px; /* Adjust width as needed */
}

.dropdown-item {
  padding: 5px 80px;
  display: flex;
  align-items: center; /* Center items vertically */
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
  color: green;
  text-decoration: none;
  font-family: Arial, sans-serif; /* Font style */
  font-size: 12px; /* Font size */
  border-bottom: 1px solid #ddd; /* Add a border between items */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.dropdown-item img {
  width: 24px; /* Uniform width */
  height: 24px; /* Uniform height */
  margin-right: 15px; /* Increase space between icon and text */
  margin-left: 5px; /* Move image slightly to the left if needed */
}

.dropdown-item:last-child {
  border-bottom: none; /* Remove border from the last item */
}
