/* src/App.css */
html, body {
  margin: 0;
  padding: 0;
  height: 50%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

footer {
  margin-top: auto;
}

.app-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.App {
  text-align: center;
  background-image: url ('../components/hero1.jpeg'); /* Path to your image */
  background-size: cover; /* Make sure the image covers the whole container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  min-height: 100vh; /* Ensure the height covers the entire viewport */
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1; /* Allow main content to take up available space */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.background {
  background-image: url '../components/h'); /* Path to your image */
  background-size: cover; /* Make sure the image covers the whole container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  height: 100vh; /* Set the height to cover the entire viewport */
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
